.product {
  display: flex;
  flex: 44%;
  flex-direction: column;
  align-items: center;

  border: 1px solid #f8f8f8;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%),
    0 1px 3px 0 rgb(0 0 0 / 12%);

  margin: 0.4rem;
  padding: 0.4rem;
}

.image {
  width: 128px;
  margin: 0.3rem 0;
}

.button {
  border-radius: 5px;
  border: 1px solid;
  cursor: pointer;
  margin-left: 0.3rem;
  margin-top: 0.3rem;
  padding: 0.3rem;

  color: white;
}

.blue {
  background-color: lightskyblue;
}

.pink {
  background-color: pink;
}
